@media (max-width: 1740px) {
  .power-count-box h1 {
    font-size: 30px;
    line-height: 34px;
  }
  .progress-content h1 {
    font-size: 30px;
    line-height: 34px;
  }
  .stop-btn,
  .stop-btn:focus {
    padding: 31px 10px;
  }
/** session in progress time **/
  .ProgresStepsDetailsBox p{
    font-size: 14px; 
    line-height: 18px;
  }
  .ProgresStepsDetailsBox h1 {
    font-size: 36px; 
    line-height: 40px;
  }
  .ProgresStepsDetailsBox {
    padding-bottom: 70px;
  }
}
@media (max-width: 1440px) {
  .stop-btn,
  .stop-btn:focus {
    font-size: 20px;
  }
  .main header {
    flex: 0 0 100px;
  }
  .main {
    padding: 0 27px 40px;
  }

  /** session-In-progress **/
  .remaining-until-box {
    padding: 30px 20px 20px;
  }
  .remaining-until-progress .progress-row {
    padding: 30px 0 10px;
  }
  .remaining-until-progress h1 {
    font-size: 40px;
    line-height: 44px;
  }
  .remaining-until-count {
    padding-top: 30px;
  }
  .remaininguntil-count-box {
    padding-bottom: 20px;
  }
  .remaininguntil-count-box h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .p-b-54 {
    padding-bottom: 40px;
  }
  .power-count-box h1 {
    font-size: 26px;
  }
  
}
@media (max-height: 1050px), screen and (orientation: portrait) {
  .main {
    padding: 0 27px 30px 27px;
  }
  .main header {
    flex: 0 0 110px;
  }
}
@media (max-height: 980px), screen and (orientation: portrait) {
  .progress-content h1 {
    font-size: 40px;
    line-height: 44px;
  }

  /** session in progress time **/
  .progresStepsContent .nav-item.p-b-54 {padding-bottom: 40px;}
}
@media (max-height: 900px), screen and (orientation: portrait) {
  .power-count-box h1 {
    font-size: 27px;
    line-height: 34px;
  }
  .progress-lg {
    height: 60px;
  }
  .progress-content .progress-row {
    padding: 30px;
  }
  .p-b-54 {
    padding-bottom: 40px;
  }
  .stop-charging-bnt .exit-btn, .stop-charging-bnt .exit-btn:focus {
    padding: 28px 0;
  }
}
@media (max-width: 1366px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-large-gutter {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-large-gutter > [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .column-medium,
  .column-small,
  .column-big {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main header {
    flex: 0 0 70px;
  }
  .main {
    padding: 0 20px 20px;
  }
  .progress-content .progress-row {
    padding: 20px 0;
  }
  .p-b-54 {
    padding-bottom: 30px;
  }
  .stop-btn,
  .stop-btn:focus {
    font-size: 15px;
  }
  .stop-btn span {
    width: 25px;
    display: inline-block;
    margin-right: 7px;
  }
  .stop-btn span img {
    max-width: 100%;
  }
  .power-count-box {
    padding: 15px;
  }
  .power-count-box p {
    font-size: 18px;
    line-height: 22px;
  }
  .power-count-box h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .progress-lg {
    height: 60px;
  }
  .p-b-54 {
    padding-bottom: 40px;
  }
  .info-content h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .charging-plug-box h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .charging-plug-box img {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }
  .charging-plug-btn .plug-btn,
  .charging-plug-btn .plug-btn:focus {
    padding: 20px 10px 20px;
  }

  /** session-In-progress **/
  .remaining-until-progress .progress-row {
    padding-top: 20px;
  }
  .remaining-until-count {
    padding-top: 20px;
  }

  .stop-charging-bnt .exit-btn,
  .stop-charging-bnt .exit-btn:focus {
    padding: 25px 10px;
  }

  /** dual-session-charger-activating ***/
  .payment-details {position: relative; max-width: 450px;  }
  .columnOuter .payment-details {margin: 0 0 0 80px;}
  .payment-button .button-box {padding: 0 15px;}
  .payment-button .button, .payment-button .button:focus {width: 185px; height: 50px; font-size: 18px;}
  .payment-details h2 {font-size: 30px; line-height: 34px;}
  .rightChargingPlug {right: -243px; margin-top:-108px;}
  .leftChargingPlug {left: -243px; margin-top:-108px;}
  .charging-plug-image img {max-width: 130px;}
  .rightChargingPlug .right-arrow {padding-left: 0px;}
  .leftChargingPlug .right-arrow {padding-right: 0px;}
  .chargingStatus {padding: 130px 0;}

  /** session in progress time **/ 
  .progresStepsHead h2 {font-size: 21px; line-height: 25px; text-align: center;}
  .TimeProgresStepsDetails {padding-right: 10px;}
  .ProgresStepsDetailsBox h1 {font-size: 22px; line-height: 26px;}
}
@media (max-height: 980px), screen and (orientation: portrait) {
  .progress-content h1 {
    font-size: 30px;
    line-height: 44px;
  }
  
}
@media (max-width: 991px) {
  .p-b-54 {
    padding-bottom: 20px;
  }
  .progress-lg {
    height: 40px;
  }
  .progress-content h1 {
    font-size: 22px;
    line-height: 26px;
  }
  .power-count-box {
    padding: 10px;
  }
  .power-count-row .item {
    padding-bottom: 10px;
  }
  .stop-charging-row .item {
    padding-bottom: 10px;
  }
  .stop-charging-row .item:last-child {
    padding-bottom: 0px;
  }
  .stop-btn {
    font-size: 14px;
  }
  .stop-btn span {
    width: 20px;
    display: inline-block;
    margin-right: 7px;
  }
  .stop-btn,
  .stop-btn:focus {
    padding: 21px 10px;
  }
  .grid-box-head h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .grid-box-body {
    padding: 15px;
  }
  .info-content h2 {
    font-size: 18px;
  }
  /*** dual-session-welcome  **/
  .payment-details .payment-pad-top {
    padding-top: 150px;
  }
  .payment-button .button-box {
    padding: 0 0 15px 0;
    width: 100%;
    justify-content: center;
  }
  .stop-charging-bnt .exit-btn,
  .stop-charging-bnt .exit-btn:focus {
    padding: 20px 10px;
  }

  /** dual-session-charger-activating ***/
  .payment-details { max-width: 270px; }
  .columnOuter .payment-details {margin: 0 0 0 180px;}
  .payment-details h2 {font-size: 22px; line-height: 26px;}
  .chargingStatus {padding: 80px 0;}
  .charging-plug-image img {max-width: 90px;}
  .rightChargingPlug {right: -150px;}
  .rightChargingPlug .right-arrow img {max-width: 50px;}
  .leftChargingPlug {left: -150px;}
  .leftChargingPlug .right-arrow img {max-width: 50px;}
  /** session in progress time **/ 
  .progressbar-steps {
    flex:0 0 30px;
  }
  .progressbar-steps .progress::before {
    width: 17px;
    height: 8px;
    top: -8px;
  }
  .ProgresStepsDetailsBox h1 {

    font-size: 18px;
    line-height: 22px;

}

}

@media (max-height: 1050px), screen and (orientation: portrait) {
  .remaining-until-count {
    padding-top: 30px;
  }
  .remaining-until-box {
    padding: 20px 24px 20px;
  }
  .remaining-until-progress .progress-row {
    padding-top: 30px;
  }
  .remaininguntil-count-box {
    padding-bottom: 20px;
  }
  .remaininguntil-count-box h2 {
    font-size: 30px;
    line-height: 34px;
  }
 
}

@media (max-height: 900px), screen and (orientation: portrait) {
  .remaining-until-progress h1 {
    font-size: 40px;
    line-height: 44px;
  }
  .remaininguntil-count-box h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .remaining-until-progress .progress-row {
    padding-top: 25px;
  }
 
  .power-count-box {
    padding: 15px 20px;
  }
  .stop-btn, .stop-btn:focus {
    padding: 27px 10px;
  }
}
@media (max-width: 767px) {
  .main {width: 900px;}
}