<section ng-controller='CreditcardController as vm'>
    <div class="main-section-row d-flex flex-nowrap">
        <div class="column-big  d-flex align-items-center justify-content-center text-center">
            <div class="payment-details">
                <h2 style="cursor:pointer" ng-click='vm.plugvehicle();'>Credit card inserted <br />Authorization success</h2>
                <div class="payment-button payment-pad-top">
                    <div class="button-box">
                        <button type="button" class="button cancel-btn">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>