<section ng-controller='HomeController as vm'>
        <div class="main-section-row d-flex flex-nowrap  ">
            
            <div class="column-small flex-shrink-0">
                <div class="grid-box d-flex flex-column">
                  <div class="charging-plug-box d-flex flex-column justify-content-center">
                    <h2>CCS</h2>
                    <div class="charging-plug-image">
                    <img src="assets/images/dual-charging-plug.svg" alt="charging-plug">
                  </div>
                    <p>Available for charging</p>
                  </div>
                  <div class="charging-plug-btn">
                    <button type="button" class="plug-btn" ng-click="vm.chademowelcome();">
                      <img src="assets/images/charging-plug-add.svg" alt="Plug">
                    </button>
                  </div>
                </div>
              </div>
          <div class="column-medium">
            <div
              class="grid-box d-flex align-items-center  justify-content-center"
            >
              <div class="info-content">
                <h2>Informational content</h2>
              </div>
            </div>
          </div>
          <div class="column-small flex-shrink-0">
              <div class="grid-box d-flex flex-column">
                <div class="charging-plug-box d-flex flex-column justify-content-center">
                  <h2>CHAdeMO</h2>
                  <img src="assets/images/charging-plug-image.svg" alt="charging-plug">
                  <p>Available for charging</p>
                </div>
                <div class="charging-plug-btn">                      
                  <button type="button" class="plug-btn" ng-click="vm.chademowelcome();">
                    <img src="assets/images/charging-plug-add.svg" alt="Plug">
                  </button>                    
                </div>
              </div>
            </div>
        </div>
</section>