<div id="page-content-wrapper">
    <div class="container-fluid">
        <form name="frmForgotPass">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Forgot Password</label>
                        <input type="text" name="email" class="form-control" ng-model="vm.email" placeholder="Email" validator="required,email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-save-close" data-ng-click="vm.forgotPass();" validation-submit="frmForgotPass">Submit</button><br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>