<div id="page-content-wrapper">
    <div class="container-fluid">
        <form name="frmResetPass">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Reset Password</label>
                        <input type="password" name="password" class="form-control" ng-model="vm.password" placeholder="Password" validator="required,password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" name="confPassword" class="form-control" ng-model="vm.confirmPassword" data-password-verify="vm.password" placeholder="Confirm Password" validator="required">
                        <div ng-show="frmResetPass.confPassword.$error.passwordVerify">Passwords are not equal!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-save-close" validation-submit="frmResetPass" data-ng-click="vm.resetPassword();">Submit</button><br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>